{{!< centercolumn}}
{{!-- 
<div class="container mt-3">
    <div class="profile-parent-row"> 
        {{#if user.userfacebook}}
        <div id="profile-row-fb" class="row">
            <p class="font-weight-bold custom-profile-padding col-6"> Facebook </p>
            <p class="custom-profile-padding col-6">
                <span class="hidden-md-down">Connected to</span>
                <a target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">
                    {{user.firstname}} {{user.lastname}}
                </a>
                <a href="/disconnect/facebook" title="Disconnect Facebook">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </p>
        </div>
        {{/if}} {{#if user.usertwitter}}
        <div id="profile-row-twitter" class="row">
            <p class="font-weight-bold custom-profile-padding col-6"> Twitter </p>
            <p class="custom-profile-padding col-6">
                <span class="hidden-md-down">Connected to</span>
                <a target="_blank" href="http://twitter.com/{{user.usertwitter.username}}">
                    {{user.usertwitter.username}}
                </a>
                <a href="/disconnect/twitter" title="Disconnect Twitter">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </p>
        </div>
        {{/if}} {{#if user.usergithub}}
        <div id="profile-row-github" class="row">
            <p class="font-weight-bold custom-profile-padding col-6"> Github </p>
            <p class="custom-profile-padding col-6">
                <span class="hidden-md-down">Connected to</span>
                <a target="_blank" href="http://github.com/{{user.usergithub.username}}">
                    {{user.usergithub.username}}
                </a>
                <a href="/disconnect/github" title="Disconnect Github">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </p>
        </div>
        {{/if}} {{#if user.usergoogle}}
        <div id="profile-row-google" class="row">
            <p class="font-weight-bold custom-profile-padding col-6"> Google </p>
            <p class="custom-profile-padding col-6">
                <span class="hidden-md-down">Connected to</span>
                <a target="_blank" href="http://plus.google.com/{{user.usergoogle.id}}">
                    {{user.usergoogle.username}}
                </a>
                <a href="/disconnect/google" title="Disconnect Google">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </p>
        </div>
</div> --}}
<div class="row e-arrangement">
    {{>side-nav}}
    <div class="col-md-8 o-profile">
        <div class="card">
            <div class="details">
                <div class="flex-row">
                    <div class="heading-u-red">My Profile</div>
                    <div class="button-solid">
                        <a class="white" href="/users/me/edit">
                            <button>EDIT PROFILE</button>
                        </a>
                    </div>
                </div>
                <div class="attributes">
                    <div class="flex-row">
                        <div>UserID</div>
                        <div>
                            <span class="faded">{{user.id}}</span>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div>Username</div>
                        <div>
                            <span class="faded">{{user.username}}</span>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div>Firstname</div>
                        <div>
                            <span class="faded">{{user.firstname}}</span>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div>Lastname</div>
                        <div>
                            <span class="faded">{{user.lastname}}</span>
                        </div>
                    </div>
                    {{#unless user.verifiedemail}}
                        <div class="flex-row">
                            <div>Email Address</div>
                            <div>
                                <span class="faded">
                                    <a href="mailto:{{user.email}}">{{user.email}}</a>
                                </span>
                            </div>
                        </div>
                    {{/unless}}
                    <div class="flex-row">
                        <div>Verified Email</div>
                        <div>
                            <span class="faded">
                                {{#if user.verifiedemail}}
                                    <a href="mailto:{{user.email}}">{{user.verifiedemail}}</a>
                                {{else}}
                                    <a href="#">Not Verified</a>
                                {{/if}}
                            </span>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div>College</div>
                        <div>
                            <span class="faded">{{user.demographic.college.name}}</span>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div>Branch</div>
                        <div>
                            <span class="faded">{{user.demographic.branch.name}}</span>
                        </div>
                    </div>
                    {{#if user.role}}
                        <div class="flex-row">
                            <div>Role@CB</div>
                            <div>
                                <span class="faded">{{user.role}}</span>
                            </div>
                        </div>
                    {{/if}}
                    {{#if user.userfacebook}}
                        <div class="flex-row">
                            <div>Facebook Connected</div>
                            <div>
                                <span class="faded">
                                    <a target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">
                                        {{user.firstname}} {{user.lastname}}
                                    </a>
                                    <a href="/disconnect/facebook" title="Disconnect Facebook">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    {{/if}}
                    {{#if user.usergoogle}}
                        <div class="flex-row">
                            <div>Github Connected</div>
                            <div>
                                <span class="faded">
                                    <a target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">
                                        {{user.firstname}} {{user.lastname}}
                                    </a>
                                    <a href="/disconnect/google" title="Disconnect Google">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    {{/if}}
                    {{#if user.usertwitter}}
                        <div class="flex-row">
                            <div>Twitter Connected</div>
                            <div>
                                <span class="faded">
                                    <a target="_blank" href="http://twitter.com/{{user.usertwitter.username}}">
                                        {{user.usertwitter.username}}
                                    </a>
                                    <a href="/disconnect/twitter" title="Disconnect Twitter">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    {{/if}}
                    {{#if user.usergithub}}    
                        <div class="flex-row">
                            <div>Github Connected</div>
                            <div>
                                <span class="faded">
                                    <a target="_blank" href="http://github.com/{{user.usergithub.username}}">
                                        {{user.usergithub.username}}
                                    </a>
                                    <a href="/disconnect/github" title="Disconnect Github">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    {{/if}}
                    <div class="flex-row">
                        You may also connect to:
                    </div>
                </div>
                <div>
                    <div class="links row">
                        {{#unless user.userfacebook}}
                            <div class="auth-link">
                                <a href="/connect/facebook">
                                    <button class="button-circle facebook">
                                        <i class="fab fa-facebook-f fa-2x"></i>
                                    </button>
                                    <div class="link-text">FACEBOOK</div>
                                </a>
                            </div>
                        {{/unless}}
                        {{#unless user.usergoogle}}
                            <div class="auth-link">
                                <a href="/connect/google">
                                    <button class="button-circle google">
                                        <i class="fab fa-google-plus-g fa-2x"></i>
                                    </button>
                                    <div class="link-text">GOOGLE</div>
                                </a>
                            </div>
                        {{/unless}}
                        {{#unless user.usertwitter}}
                            <div class="auth-link">
                                <a href="/connect/twitter">
                                    <button class="button-circle twitter">
                                        <i class="fab fa-twitter fa-2x"></i>
                                    </button>
                                    <div class="link-text">TWITTER</div>
                                </a>
                            </div>
                        {{/unless}}
                        {{#unless user.usergithub}}
                            <div class="auth-link">
                                <a href="/connect/github">
                                    <button class="button-circle github">
                                        <i class="fab fa-github fa-2x"></i>
                                    </button>
                                    <div class="link-text">GITHUB</div>
                                </a>
                            </div>
                        {{/unless}}
                    </div>
                </div>
                {{#unless user.verifiedemail}}
                    <div class="row">
                        <form method="post" action="/verifyemail">
                        {{#if user.email}}
                            <div>This is your registered email please verify.</div>
                            <div class="flex-row">
                                <input class="input-text inputvalidation" name="email" placeholder="&#xf0e0; Email" value="{{user.email}}" type="email" disabled required/>
                                <div class="button-solid">
                                    <button type="submit">Verify</button>
                                </div>
                            </div>
                        {{else}}
                            <div>Please enter your registered email id which you have used to buy courses.</div>
                            <div class="flex-row">
                                <input class="input-text" name="email" placeholder="&#xf0e0; Email" type="email" required/>
                                <div class="button-solid">
                                    <button type="submit">Verify</button>
                                </div>
                            </div>
                        {{/if}}
                        </form>
                    </div>
                {{/unless}}
                {{#if messages.error}}
                    <span class="alert alert-danger">{{messages.error}}</span>
                {{/if}}
                {{#if messages.info}}
                    <span class="alert alert-info">{{messages.info}}</span>
                {{/if}}
            </div>
        </div>
    </div>
</div>